<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Multi Step Form | CodingNepal</title>
      <link rel="stylesheet" href="../css/signup.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="container">
         <header>Login Form</header>
         <div class="form-outer">
            <form action="#">
               <div class="page">
                  <div class="title">
                     Login Details:
                  </div>
                  <div class="field">
                     <div class="label">
                        Username
                     </div>
                     <input class="username" type="text">
                  </div>
                  <div class="field">
                     <div class="label">
                        Password
                     </div>
                     <input class="password" type="password">
                  </div>
                  <div class="field btns">
                     <button class="submitLogin">Submit</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <script src="../js/signup.js"></script>
      <script src="../js/loginScript.js"></script>
   </body>
</html>